<h1>Edit crud_invoicesum</h1>
<form action="/crud-invoicesum/crud-invoicesum/{{crud_invoicesum.id}}?_method=put" method="post">
  <label for="name">Name: </label>
  <input id="name" name="var_name[name]" value="{{crud_invoicesum.name}}" />
  <input type="submit" value="Update" />
</form>